* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: paragraph-font;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: header-font;
    src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

img {
    width: 100%;
}

h1 {
    margin: 20px 0 20px 0;
    font-family: header-font;
    font-weight: 500;
}

h2 {
    margin: 20px 0 20px 0;
    font-family: header-font;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}

h3 {
    font-family: paragraph-font;
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}

pxyz {
    color: hsl(30, 54%, 90% ) hsl(30, 18%, 87%) hsl(30, 10%, 34%) hsl(24, 5%, 18%);
    color: hsl(14, 45%, 36%);
    color: hsl(332, 51%, 32%) hsl(330, 100%, 98%);
}

p {
    font-family: paragraph-font;
    font-size: 16px;
}

/* ul {
    
}

ol {
    
} */

li {
    padding: 0 0 0 15px;
    margin: 10px 10px 10px 20px;
    font-family: paragraph-font;
    font-size: 16px;
}

hr {
    height: 1px;
    margin: 20px 0 20px 0;
    background-color: hsl(0, 0%, 80%);
    border: none;
}

.mega-container {
    min-width: 320px;
    max-width: 1440px;
    margin: 20px;
}

.pink-container {
    width: 90%;
    height: 200px;
    padding: 20px;
    margin: auto;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
}

.nutrition-label-box {
    width: 180px;
    margin: 0 20px 0 30px;
    font-family: paragraph-font;
    display: flex;
    justify-content: space-between;
}

.nutrition-value-box {
    width: 50px;
    color: hsl(14, 45%, 36%);
    font-family: paragraph-font;
    font-weight: 700;
}
